extends ../layout

block content
  br
  .pb-2.mt-2.mb-4.border-bottom
    h3 #{MY_GROUPS}
  .pb-2.mt-2.mb-4.border-bottom
    div(class="my-groups")
        
        
        div(class="mygroups-links")
          a(href="/createGroup")
             button(type="button") #{CREATE_GROUP}
          |#{' '}
          
        #table-wrapper-scroll
            table#table(class="table  my-groups table-hover table-condensed")
                tbody
                  tr
                      th #{NAME}
                      th #{CATEGORY}
                      th #{OWNER}
                      th #{MEMBERS}
                      th #{LAST_ACTIVE}
                      th #{Action}
                each group in groups
                  tr(id = group.id)
                    td #{group.tit}
                    td #{group.cat}
                    td #{group.ona}
                    td #{group.mem.length}
                    td #{group.las}
                    td 
                      div(class="mygroups-links")
                        button(type="button" onClick='editGroup("' +  group.id + '")') #{EDIT_GROUP}
                            |#{' '}
                        button(type="button" onClick='deleteGroup("' +  group.id + '")') #{DELETE_GROUP}
                        button(type="button" onClick='viewGroup("' +  group.id + '")') View
    script.
        
        function viewGroup(groupId) {


            window.location = './group/' + groupId;
        }
        function deleteGroup(groupId)
        {
        //  console.log(e)
        console.log(groupId);
                $.post("./group/delete/"+groupId, function(result){
                  
                    console.log(result);
                    if(result.success) {
                    alert("group deleted!");
                        location.reload();
                    } else {
                        alert(result.msg);
                    }
                });
            
        }
        function editGroup(groupId)
        {
          window.location = './editgroup/' + groupId;
                //- $.ge("./editgroup/"+groupId, function(result){
                //-     var res = JSON.parse(result);
                //-     if(res.success) {
                //-         location.reload();
                //-     } else {
                //-         alert(res.msg);
                //-     }
                //- });
            
        }
        function selectGroup()
                {
                    if (selected[0]) {
                        var selectedId  = selected[0].id;
                        $.post("../group/" + selectedId, function(result){
                            var res = JSON.parse(result);
                            if(res.success) {

                            } else {
                                alert(res.msg);
                                location.reload();
                            }
                        });
                    } else {
                        alert(PLEASE_SELECT_GROUP_TO_EDIT);
                    }
                }
      var table = document.getElementById('table');
      selected = table.getElementsByClassName('selected');
      //table.onclick = highlight;
